/* 对换成功css */
/* 遮罩层 */
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    /* z-index: 100; */
    /* display: none; */
  }
/* 主体内容部分 */
.main{
    width: 77.3333vw;
    height: 103.84vw;
    /* background-color: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main img{
    width: 100%;
}
/* 居中公共部分 */
.company_img,
.company_name,
.company_ticket,
.line,
.time,
.know,
.close{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* 公司图片展示区域 */
.company_img{
     width: 40vw;
     height: 20vw;
     background-color: white;
     top: 24.4vw ;
     border-radius: 1.3333vw;
     display: flex;
     justify-content: center;
     align-items: center;
}
.company_img img{
    width: 100%;

}

/* 公司名称 */
.company_name{
     top: 46.8vw;
     color: #fff;
     font-size: 4vw;
}
/* 票数 */
.company_ticket{
     top: 54.5333vw;
     color: #FFEE35;
     font-size: 5.3333vw;
}
/* .company_ticket span{
    
} */
/* 点线 */
.line{
    width: 64.5333vw;
    height: 0.2667vw;
    border-bottom: 0.2667vw dashed #fff;
    top: 64.6667vw;
}
/* 兑换时间 */
.time{
     top: 67.7333vw;
     width: 44.2667vw;
     height: 3.2vw;
     font-size: 3.2vw;
     color: #fff;
     text-align: center;
    
}
.time span{
    display: inline-block;
    margin-right: 0.6667vw;
}
/* 知道了 */
.know{
    width: 45.3467vw;
    height: 9.12vw;
    top: 77.4667vw;
    color: white;
    font-size: 5.0667vw;
    text-align: center;
    line-height: 9.12vw;
    background: url(../img/exchange_know.png) no-repeat center/ 45.3467vw 9.12vw ;
}
/* 关闭按钮 */
.close{
    width: 8vw;
    height:8vw;
    bottom: 0;
    background: url(../img/exchange_close.png) no-repeat center/8vw 8vw;
}